<div class="container-fluid">

    <div class="row">
        <h1 class="title">
            Más de 10 millones confían en nosotros
        </h1>
    </div>

    <div class="row content">

        <div class="col-12 col-md-7 order-1 order-md-2">
            <div>
                <span class="badge rounded-pill text-bg-dark">
                    {{testimonio.nombre}}
                </span>
            </div>
            <div class="estrellas">
                ★ ★ ★ ★ ★
            </div>
            <p class="texto-testimonio">
                {{testimonio.texto}}
            </p>
        </div>

        <div class="col-12 col-md-5 order-2 order-md-1">
            <div class="card card-content">
                <div class="card-header">
                    <h6>
                        Totalplay tiene la red fija más rápida de México,
                        avalado por Ookla speedtest* y NPerf
                    </h6>

                </div>

                <div class="card-body">

                    <img src="images/reconocimiento.png" class="img-recconocimiento" alt="Reconocimiento">

                    <p class="card-text">
                        Análisis realizado por Ookla de los datos
                        de Speedtest Intelligence para Q2-Q3 2024
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>