<header class="">
    <div class="top-header container-fluid headerLog ">
        <div class="row">
            <div class="content">
                <img src="/images/profeco.svg" class="img-head" alt="Profeco">

                <span class="text-desk">{{textoDesk}}</span>
                <a href="/" class="text-desk">
                    Ver paquetes
                </a>
                <a href="/" class="text-mov">
                    {{textoMovil}}
                </a>
            </div>
        </div>
    </div>
</header>