<div class="container-fluid content">
    <div class="row">
        <div class="col-12 ">
            <h1> {{titulo}}</h1>
        </div>
    </div>
    <div class="col-12">
        <img src="images/totalplay1.png" class="img-publi" alt="">
    </div>
    <div class="col-12">
        <button class="btn btn-dark btn-planes" type="button">
            Ver Planes
        </button>
    </div>
    <div class="col-12 text-publicidad">
        <span> {{publicidad}}</span>
    </div>
</div>